.navbar {
  border-radius: 0px;
}

.product img {
  max-width: 165px;
}

.product .description {
  max-width: 125px;
}

footer {
  background-color: #101010;
  margin-top: 30px;
}

footer .content {
  padding: 30px 25px;
}