{% extends 'bootstrap/base.html' %}

{% block title %}DevCart{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/main.css') }}">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{{ url_for('index') }}">DevCart</a>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="{{ url_for('index') }}">Home</a></li>
      <li><a href="{{ url_for('profile') }}">Profile</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {% if current_user.is_anonymous %}
      <li><a href="{{ url_for('login') }}">Login</a></li>
      <li><a href="{{ url_for('register') }}">Register</a></li>
      {% else %}
      <li><a href="{{ url_for('cart') }}">Cart</a></li>
      <li><a href="{{ url_for('logout') }}">Logout</a></li>
      {% endif %}
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
{% endblock %}

{% block content %}
  <div class="container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>{{ message }}</strong>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    
    <!-- Bootstrap Stuff -->
    {% block app_content %}
    {% endblock %}
    <!-- Bootstrap Stuff -->
  </div>
  <footer>
    <div class="container">
      <div class="col-md-4  content">
        <p>Dolor aliqua culpa pariatur Lorem commodo nostrud sit veniam. Nulla est et adipisicing elit excepteur voluptate cupidatat duis commodo nostrud elit et cillum. Eiusmod pariatur sunt sit ea ipsum incididunt aute et voluptate amet. Occaecat Lorem mollit minim amet ut laboris mollit quis sit qui. Veniam nostrud proident tempor ad dolore eu fugiat fugiat Lorem id cupidatat eiusmod nisi. Lorem id amet fugiat velit magna mollit nostrud ipsum.</p>
      </div>
      <div class="col-md-4  content">
        <p>Consequat id eu adipisicing enim. Veniam aliquip dolore dolor aliquip. Non aute deserunt cillum in laboris fugiat sit amet in minim. Voluptate ea amet veniam sint est id irure nisi et consequat culpa laboris. Quis fugiat elit cillum eu officia voluptate fugiat laboris minim proident adipisicing proident et aliqua. Tempor ipsum pariatur aliqua incididunt.</p>
      </div>
      <div class="col-md-4  content">
        <p>Consequat officia pariatur dolor mollit nisi esse laboris. Duis enim ipsum veniam deserunt proident ex ipsum proident. Velit dolor enim enim ex. Irure excepteur est qui eu. Irure officia ipsum ut proident ea excepteur ea cupidatat quis commodo.</p>
      </div>
    </div>
  </footer>

{% endblock %}
{% block scripts %}
{{ super() }}
{% endblock %}
